# Ignore virtual environment folders
venv/
env/
virtualenv/

# Ignore local development and testing databases
db.sqlite
db.sqlite3
*.db

# Ignore system and backup files
.DS_Store
Thumbs.db
desktop.ini

# Ignore files created by editors or IDEs
.vscode/
.idea/
*.swp
*.swo

# Ignore compiled or built files
__pycache__/
dist/
build/
*.pyc
*.pyo
*.pyd

# Ignore user-specific files or directories
*.log
*.ini

# Ignore user-specific configuration files
config.yaml
config.json

# Ignore backup or temporary files
*~
*.bak
*.tmp
*.swp

